body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1
{
    background-color: #8bc34a;
    color: white;
    padding: 20px;
    text-align: center;
}

.cancion
{
    display: inline-block;
    -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.8);
    box-shadow: 4px 4px 20px 0px #000000cc;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.titulo-cancion
{
    text-align: center;
    position: relative;
    top: 100px; 
    background-color: white;
    color: #8bc34a;
    padding: 10px;
    font-size: 20pt;
    text-transform: uppercase;
}

.imagen-cancion
{
    display:flex;
    margin: 20px;
    border-radius: 5px;
}

.boton-play-pause
{
    display: inline-block;
    position: relative;
    left: 34%;
    text-decoration: none;
    color: white;
    background-color: #8bc34a;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.artista
{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;  
}

#footer
{
    text-align: center;
    font-weight: bold;
    border-top: solid 2px black;
}

